<div class="table-responsive">
  <table class="table customize-table mb-0 v-middle">
    <thead>
      <% path = request.original_fullpath %>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th class="text-center"><%= t('admin.action') %></th>
      </tr>
    </thead>

    <tbody>
      <% 10.times.each do |i| %>
        <tr>
          <td><%= i %>ID</td>
          <td><%= i %>Title</td>
          <td><%= i %>Content</td>
          <td class="text-center">
            <ul>
              <li>修改</li>
              <li>刪除</li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    換頁
    <%#= paginate posts, :window => paginate_show_ten %>
  </div>
</div>